<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBonCommandeLabel">Create or edit a Bon Commande</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bonCommande.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bonCommande.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="bonCommande.date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="bonCommande.numero" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="bonCommande.type" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_statut">Statut</label>
            <input type="text" class="form-control" name="statut" id="field_statut"
                [(ngModel)]="bonCommande.statut" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_fournisseur">Fournisseur</label>
            <select class="form-control" id="field_fournisseur" name="fournisseur" [(ngModel)]="bonCommande.fournisseur" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fournisseurOption.id === bonCommande.fournisseur?.id ? bonCommande.fournisseur : fournisseurOption" *ngFor="let fournisseurOption of fournisseurs; trackBy: trackFournisseurById">{{fournisseurOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
